USE [master]
GO
/****** Object:  Database [HueHueCine]    Script Date: 14/12/2020 17:56:41 ******/
CREATE DATABASE [HueHueCine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HueHueCine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HueHueCine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HueHueCine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HueHueCine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HueHueCine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HueHueCine]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 14/12/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comentario] [varchar](255) NOT NULL,
	[dataComentario] [datetime] NOT NULL,
	[likes] [int] NULL,
	[deslikes] [int] NULL,
	[idFilme] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Comentarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaFilme]    Script Date: 14/12/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaFilme](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[minuto] [varchar](50) NULL,
	[idFilme] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
 CONSTRAINT [PK_ListaFilme] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaSerie]    Script Date: 14/12/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaSerie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[temporada] [int] NULL,
	[episodeo] [int] NULL,
	[idFilme] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
 CONSTRAINT [PK_ListaSerie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusLista]    Script Date: 14/12/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusLista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StatusLista] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/12/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[sobrenome] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
	[dataNascimento] [datetime] NULL,
	[telefone] [varchar](50) NULL,
	[senha] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Usuario]
GO
ALTER TABLE [dbo].[ListaFilme]  WITH CHECK ADD  CONSTRAINT [FK_ListaFilme_StatusLista] FOREIGN KEY([idStatus])
REFERENCES [dbo].[StatusLista] ([id])
GO
ALTER TABLE [dbo].[ListaFilme] CHECK CONSTRAINT [FK_ListaFilme_StatusLista]
GO
ALTER TABLE [dbo].[ListaFilme]  WITH CHECK ADD  CONSTRAINT [FK_ListaFilme_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[ListaFilme] CHECK CONSTRAINT [FK_ListaFilme_Usuario]
GO
ALTER TABLE [dbo].[ListaSerie]  WITH CHECK ADD  CONSTRAINT [FK_ListaSerie_StatusLista] FOREIGN KEY([idStatus])
REFERENCES [dbo].[StatusLista] ([id])
GO
ALTER TABLE [dbo].[ListaSerie] CHECK CONSTRAINT [FK_ListaSerie_StatusLista]
GO
ALTER TABLE [dbo].[ListaSerie]  WITH CHECK ADD  CONSTRAINT [FK_ListaSerie_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[ListaSerie] CHECK CONSTRAINT [FK_ListaSerie_Usuario]
GO
USE [master]
GO
