@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --yellow: #fdbe02;
    --green:#298732;
    --white:  #ffffff;
    --black: #071013;
    --grey: #949494;
}

body{
    height: 100vh !important;
    background-color: #111;
    color:#FFF;
    margin:0;
    font-family: 'Roboto', sans-serif
}

.btn-primary {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);
}

.btn-primary:hover{
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
    transition: all 1s;
}

.btn-primary:focus{
    box-shadow: none;
    background-color: var(--green); 
    border-color: var(--green);
    color: var(--black);
    transition: all 1s;
}

.btn-primary:active{
    box-shadow: none !important;
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    color: var(--black) !important;
    transition: all 1s;
}

/* SEGUNDO BOTAO */
.btn-secondary {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
}

.btn-secondary:hover{
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);
    transition: all 1s;
}

.btn-secondary:focus{
    box-shadow: none;
    background-color: var(--yellow); 
    border-color: var(--yellow);
    color: var(--black);
    transition: all 1s;
}

.btn-secondary:active{
    box-shadow: none !important;
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
    color: var(--black) !important;
    transition: all 1s;
}


.container-form{
    min-height: calc(100vh - 86px); 
}

.inputFind{
    background-color: var(--black);
    color: var(--grey);
}

.inputFind:focus{
    background-color: var(--black);
    color: var(--white);
}

.navbar{
    background-color: rgba(0, 0, 0, 0.1);
}